{# Пользовательское меню редактирования продукта #}

{% set identifier = item.getId() %}
{% if item.getProductOfferConst() is not null %}
    {% set identifier = item.getProductOfferConst() %}
{% endif %}
{% if item.getProductVariationConst() is not null %}
    {% set identifier = item.getProductVariationConst() %}
{% endif %}
{% if item.getProductModificationConst() is not null %}
    {% set identifier = item.getProductModificationConst() %}
{% endif %}

<button class="btn btn-link btn-sm p-0"
        id="usecase-{{ identifier }}"
        data-bs-container="body"
        data-bs-toggle="popover"
        data-bs-placement="right"
        data-bs-trigger="click"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
         fill="currentColor" class="text-muted"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
</button>

{# Чекбокс #}
<label>
    <input class="form-check-input ms-3 p-2" type="checkbox"
           value="{{ identifier }}">
</label>


<div id="usecase-{{ identifier }}-content" class="d-none">
    <ul class="leader list-group list-group-flush ">

        {# Изменить параметры #}
        {% if  is_granted(ROLE~'_EDIT') or is_granted('ROLE_ADMIN') %}

            <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
                <a href="{{ path('yandex-market-products:admin.products.edit', {
                    invariable: item.getInvariable()
                }) }}"
                   class="text-decoration-none text-dark w-100 modal-link"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                   title="Изменить параметры упаковки">
                    Изменить настройки
                </a>
            </li>

        {% endif %}

        {# Редактировать продукт #}
        {% if  is_granted('ROLE_PRODUCT_EDIT') or is_granted('ROLE_ADMIN') %}

            <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
                <a href="{{ path('products-product:admin.newedit.edit', {id: item.getEvent() }) }}"
                   class="text-decoration-none text-dark w-100"
                   title="{{ 'btn.edit'|trans({}, 'core.btn') }}">
                    Редактировать продукт
                </a>
            </li>

        {% endif %}

    </ul>
</div>
