{% trans_default_domain 'yandex-market-products.admin' %}

<!--
  ~ Copyright 2025.  Baks.dev <admin@baks.dev>
  ~
  ~  Permission is hereby granted, free of charge, to any person obtaining a copy
  ~  of this software and associated documentation files (the "Software"), to deal
  ~  in the Software without restriction, including without limitation the rights
  ~  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~  copies of the Software, and to permit persons to whom the Software is furnished
  ~  to do so, subject to the following conditions:
  ~
  ~  The above copyright notice and this permission notice shall be included in all
  ~  copies or substantial portions of the Software.
  ~
  ~  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~  FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT. IN NO EVENT SHALL THE
  ~  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~  THE SOFTWARE.
  -->

<div class="modal-header">

    <div class="d-flex gap-3">

        {# Обложка  #}
        <div>
            {% set image_path = '/assets/img/blank.svg' %}

            {% if product.getProductImageExt() is defined and product.getProductImageExt() is not null %}
            {% set img_host =  product.getProductImageCdn() == true  ? CDN_HOST : '' %}
            {% set img_dir = product.getProductImage() %}
            {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ product.getProductImageExt() %}
            {% set image_path = img_host ~ img_dir ~ img_file %}
            {% endif %}

            <div class="icon rounded-3 bg-contain lazy p-1" style="width: 50px; height: 50px;"
                 data-bg="{{ image_path }}">
            </div>
        </div>

        {# Название продукта  #}
        <div class="d-flex flex-column align-items-start">

            <h5 class="modal-title d-flex align-items-center gap-3">

                {{ product.getProductName() }}

                {# Значение множественного варианта ТП #}
                {{ product.getProductVariationValue()|call_twig_func(product.getProductVariationReference()~'_render')
                ~ product.getProductModificationValue()|call_twig_func(product.getProductModificationReference()~'_render') }}

                {# Значение торгового предложения #}
                {{ product.getProductOfferValue()|call_twig_func(product.getProductOfferReference()~'_render') }}

                {# Постфикс торгового предложения #}
                {{ product.getProductOfferPostfix() }}
                {# Постфикс множественного варианта #}
                {{ product.getProductVariationPostfix() }}
                {# Постфикс модификации #}
                {{ product.getProductModificationPostfix() }}

                {# Свойства, учавствующие в названии #}
                {% for name_property in arr_property | filter(props => props.field_name == true) %}
                {{ name_property.field_value|call_twig_func(name_property.field_type) }}
                {% endfor %}

            </h5>

            <div class="d-flex align-items-center gap-3">
                <span class="small">Артикул: {{ product.getProductArticle() }}</span>

                {# Свойства, учавствующие в превью карточки #}
                {% for name_property in  arr_property | filter(props => props.field_card is defined and props.field_card == true) %}
                {{ name_property.field_value|call_twig_func(name_property.field_type~'_render') }}
                {% endfor %}
            </div>

        </div>
    </div>

</div>


